.fondo{
    min-height: 92vh;
}

.avatar {
    align-items: center;
    display: flex;
    flex-basis: 10.333rem;
    flex-shrink: 0;
    height: 12rem;
    justify-content: center;
    position: relative;
    width: 12rem;

}
